<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labels</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <header>
        <div class="container">
            <h1>All Labels</h1>
        </div>
    </header>
    <div class="container">
        <div class="label-grid">
            <% if (labels.length > 0) { %>
                <% labels.forEach(label => { %>
                    <div class="label-card">
                        <a href="/label/<%= encodeURIComponent(label._id) %>">
                            <% if (label.image) { %>
                                <img src="<%= label.image %>" alt="<%= label.title %>">
                              <% } %>
                            <h2><%= label.name %></h2>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No labels found.</p>
            <% } %>
        </div>
    </div>
</body>
</html>