<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <header>
        <div class="container">
            <h1>All artists</h1>
        </div>
    </header>
    <div class="container">
        <div class="artist-grid">
            <% if (artists.length > 0) { %>
                <% artists.forEach(artist => { %>
                    <div class="artist-card">
                        <a href="/artist/<%= encodeURIComponent(artist._id) %>">
                            <% if (artist.image) { %>
                                <img src="<%= artist.image %>" alt="<%= artist.first_name %>">
                              <% } %>
                            <h2><%= artist.name %></h2>
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No artists found.</p>
            <% } %>
            <div class="artist-card">
                <a href="javascript:void(0)" onclick="openPasswordModal()"><h2>Edit</h2></a>
            </div>
        </div>
    </div>
    <%- include('../partials/admin-modal', { actionUrl: '/artist/artist-admin' }) %>
</body>
</html>