<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Albums</title>
  <link rel="stylesheet" href="/css/styles.css">          
</head>
<body>
  <%- include('../partials/nav') %>
  <header>
    <div class="container">
      <h1>Albums</h1>
    </div>
  </header>
  <div class="albums-grid">
    <% albums.forEach(album => { %>
      <a href="/album/<%= encodeURIComponent(album.title) %>">
          <div class="album-card">
            <% if (album.image) { %>
              <img src="<%= album.image %>" alt="<%= album.title %>">
            <% } %>
            <div class="album-info">
              <h2><%= album.title %></h2><!-- error handling for delteting linked things and not crashing-->
              <p><strong>Released:</strong> <%= album.release_date ? new Date(album.release_date).toDateString() : 'N/A' %></p>
              <p><strong>Artist:</strong> <%= album.artist && album.artist.name ? album.artist.name : 'Unknown Artist' %></p>
              <p><strong>Genre:</strong> <%= album.genre && album.genre.name ? album.genre.name : 'N/A' %></p>
              <p><strong>Label:</strong> <%= album.label && album.label.name ? album.label.name : 'N/A' %></p>
            </div>
        </div>
      </a>
    <% }) %>
    <div class="album-card">
      <a href="javascript:void(0)" onclick="openPasswordModal()"><h2>Edit</h2></a>
    </div>
  </div>
  <%- include('../partials/admin-modal', { actionUrl: '/album/album-admin' }) %>
</body>
</html>