<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= album.title %> - Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="album-cont">
        <div class="album-card">
            <div class="album-img">
                <img src="<%= album.image %>" alt="<%= album.title %>">
            </div>
            <div class="album-info">
                <h3><%= album.title %></h3>
                <p>
                    <strong>Released:</strong>
                    <%= album.release_date ? album.release_date.toDateString() : 'N/A' %>
                  </p>
                  <p><!-- error handling for delteting linked things and not crashing-->
                    <strong>Artist:</strong>
                    <% if (album.artist) { %>
                      <a href="/artist/<%= encodeURIComponent(album.artist._id) %>">
                        <%= album.artist.name || 'Unknown Artist' %>
                      </a>
                    <% } else { %>
                      Unknown Artist
                    <% } %>
                  </p>
                  <p>
                    <strong>Genre:</strong>
                    <% if (album.genre) { %>
                      <a href="/genre/<%= encodeURIComponent(album.genre._id) %>">
                        <%= album.genre.name || 'Unknown Genre' %>
                      </a>
                    <% } else { %>
                      N/A
                    <% } %>
                  </p>
                  <p>
                    <strong>Label:</strong>
                    <% if (album.label) { %>
                      <a href="/label/<%= encodeURIComponent(album.label._id) %>">
                        <%= album.label.name || 'Unknown Label' %>
                      </a>
                    <% } else { %>
                      N/A
                    <% } %>
                  </p>
            </div>
        </div>
        <div class="format-grid"> <!-- for format --> 
            <% formats.forEach(format => { %>
                <div class="format-card">
                    <a href="">
                        <img src="<%= format.image %>" alt="<%= album.title %>">
                        <div class="format-info">
                            <p><strong>Album:</strong> <%= album.title %></p>
                            <p><strong>Format:</strong> <%= format.format %></p>
                            <p><strong>Price:</strong> <%= format.price_formatted %> EUR</p>
                            <p><strong>Stock:</strong> <%= format.stock %></p>
                            <p><strong>Barcode:</strong> <%= format.barcode %></p>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>