<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Manage Formats</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('../partials/nav') %>

  
  <h1 style="text-align: center;">Manage Formats for <%= album.title %></h1>
  <div class="add-conteiner">
    <div class="add-card">
      <h1 id="toggleFormBtn">+</h1>
    </div>
    <div id="formModal" class="form-modal">
      <form action="/format/add" method="POST">
        <input type="hidden" name="album" value="<%= album._id %>">
        <div class="form-group">
          <label for="format">Format Type:</label>
          <select id="format" name="format" required>
            <option value="">Select Format</option>
            <option value="Vinyl">Vinyl</option>
            <option value="CD">CD</option>
            <option value="Cassette">Cassette</option>
            <option value="Digital">Digital</option>
          </select>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" required placeholder="Enter price">
        </div>
        <div class="form-group">
          <label for="stock">Stock:</label>
          <input type="number" id="stock" name="stock" required placeholder="Enter stock">
        </div>
        <div class="form-group">
          <label for="barcode">Barcode:</label>
          <input type="text" id="barcode" name="barcode" required placeholder="Enter barcode">
        </div>
        <div class="form-group">
          <label for="image">Image URL:</label>
          <input type="text" id="image" name="image" placeholder="Enter image URL">
        </div>
        <button type="submit" class="btn btn-primary">Add format</button>
        <button type="button" class="btn btn-secondary" onclick="closeForm()">Cancel</button>
      </form>
    </div>
  </div>
  <div class="container">
    <% if (formats.length > 0) { %>
      <div class="grid-container">
        <% formats.forEach(format => { %>
          <div class="form-modal-container">
            <div class="format-card">
              <img src="<%= format.image %>" alt="<%= format.format %>">
              <h3><%= format.format %></h3>
              <p><strong>Price:</strong> <%= format.price_formatted %> EUR</p>
              <p><strong>Stock:</strong> <%= format.stock %></p>
              <p><strong>Barcode:</strong> <%= format.barcode %></p>
              <!-- Button to open delete form -->
              <button onclick="openDeleteModal('<%= format._id %>', '<%= format.name %>')" class="btn btn-danger">Delete</button>
              <!-- Button to open edit form -->
              <button onclick="openEditModal('<%= format._id %>', '<%= format.name %>')" class="btn btn-warning">Edit</button>
           </div>
           
           <!-- Delete form modal -->
           <div id="deleteModal_<%= format._id %>" class="form-modal">
            <form action="/format/delete" method="POST">
                <input type="hidden" name="id" value="<%= format._id %>">
                <p>Are you sure you want to delete <%= format.format %></p>
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                <button type="button" onclick="closeDeleteModal('<%= format._id %>')" class="btn btn-secondary">Cancel</button>
            </form>
          </div>

          <!-- Edit form modal -->
          <div id="editModal_<%= format._id %>" class="form-modal">
            <form action="/format/edit" method="POST">
              <input type="hidden" name="id" value="<%= format._id %>">
              <input type="hidden" name="album" value="<%= album._id %>">
              <div class="form-group">
                <label for="format_<%= format._id %>">Format Type:</label>
                <select id="format_<%= format._id %>" name="format" required>
                  <option value="Vinyl" <%= format.format === 'Vinyl' ? 'selected' : '' %>>Vinyl</option>
                  <option value="CD" <%= format.format === 'CD' ? 'selected' : '' %>>CD</option>
                  <option value="Cassette" <%= format.format === 'Cassette' ? 'selected' : '' %>>Cassette</option>
                  <option value="Digital" <%= format.format === 'Digital' ? 'selected' : '' %>>Digital</option>
                </select>
              </div>
              <div class="form-group">
                <label for="price_<%= format._id %>">Price:</label>
                <input type="number" id="price_<%= format._id %>" name="price" value="<%= format.price %>">
              </div>
              <div class="form-group">
                <label for="stock_<%= format._id %>">Stock:</label>
                <input type="number" id="stock_<%= format._id %>" name="stock" value="<%= format.stock %>">
              </div>
              <div class="form-group">
                <label for="barcode_<%= format._id %>">Barcode:</label>
                <input type="text" id="barcode_<%= format._id %>" name="barcode" value="<%= format.barcode %>">
              </div>
              <div class="form-group">
                <label for="image_<%= format._id %>">Image URL:</label>
                <input type="text" id="image_<%= format._id %>" name="image" value="<%= format.image %>">
              </div>
              <button type="button" onclick="closeEditModal('<%= format._id %>')" class="btn btn-secondary">Cancel</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>No formats found for this album.</p>
    <% } %>
  </div>
  <script src="/js/scripts.js"></script>
</body>
</html>